body{
    margin: 0px;
    text-align: center;
    font-family: Calibri;
    background-color: rgb(0, 157, 248);
}

maintext{
    color: white;
    text-align: center;
}

th{
    color: white;
    text-align: center;
}

td{
    color: black;
    text-align: center;
}

tr{
    color: black;
    text-align: center;
}

h1{
    margin: 1px;
    text-align: center;
    background-color: rgb(0, 65, 139);
    border-style: outset;
    border-radius: 100mm;
}

h2{
    text-align: center;
}

header{
    color: rgb(5, 175, 187);
    min-width: 10mm;
    max-height: 1000mm;
    text-align: center;
}

error{
    color: rgb(187, 5, 5);
    margin: 10px;
    min-width: 10mm;
    max-height: 100mm;
    text-align: center;
}
