body{
    margin: 0px;
    text-align: center;
    font-family: Calibri;
    background-color: rgb(21 199 89);
}

maintext{
    color: white;
    text-align: center;
}

th{
    color: white;
    text-align: center;
}

a{
    color: rgb(5, 255, 80);
    text-align: center;
}

b{
    color: rgb(102, 235, 49);
    text-align: center;
}

td{
    color: rgb(5 255 59);
    text-align: center;
}

tr{
    color: black;
    text-align: center;
}

h1{
    margin: 1px;
    text-align: center;
    background-color: rgb(0 139 117);
    border-style: double;
    border-radius: 10mm;
    color: #00ff8a;
}

h2{
    text-align: center;
    color: #6cff47;
}

header{
    color: rgb(5, 175, 187);
    min-width: 10mm;
    max-height: 1000mm;
    text-align: center;
}

error{
    color: rgb(187, 5, 5);
    margin: 10px;
    min-width: 10mm;
    max-height: 100mm;
    text-align: center;
}


help{
    size: 100px;
    margin: 5px;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(36 158 25);
    background-size: 20px;
    border-style: groove;
}
 
zoom{
    zoom: 2;
}

hidetext {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

/* width */
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(10, 163, 31); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #00b31e; 
  }